.about-container {
  color: rgb(255, 255, 255, 0.8);
  user-select: none;
  text-align: center;
  margin: 20px auto;
  width: 95vw;
}
.about-container h4 {
  font-family: monospace;
}

.about-container .welcome-container h4 {
  font-size: large;
}

.about-container .welcome-container p {
  padding: 5px;
  margin: 10px 0px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
.about-container .welcome-container .info p {
  padding: 0px;
}

.about-container .contact {
  display: flex;
  font-style: oblique;
  padding: 5px;
}

.about-container .contact p{
  margin: 0px 5px;
}


.about-container .contact p a{
  color: white;
}

.about-container .comment-container {
  margin: 10px 0px;
}

.about-container .comment-container textarea {
  color: white;
  background-color:rgb(26, 26, 26) ;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  height: 40vh;
}

.about-container .comment-container .button-container button {
  padding: 10px 15px;
  font-weight: bold;
  background-color: rgba(0, 128, 0, 0.77);
  color: white;
  border: none;
  border-radius: 3px;
}
