.announcment-container-in {
  position: relative;
  width: 90%;
  margin: 30px auto;
}

.announcment-container-in .announcements .announcment {
  border-radius: 20px;
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(92, 92, 92);
  padding: 15px;
  margin: 10px;
}

.announcment-container-in .announcements .announcment p {
  color: rgb(88, 92, 141);
  font-size: small;
  margin-bottom: 9px;
}

.announcements .time-container span {
  position: absolute;
  right: 8px;
  bottom: 5px;
  color: rgb(188, 188, 188);
  font-style: italic;
  font-size: xx-small;
  margin: 5px;
}

.announcment-container-in .button-container {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.announcment-container-in .button-container button {
  border-radius: 20px;
  font-weight: bold;
  color: rgb(73, 73, 73);
  padding: 10px;
  background-color: rgb(194, 132, 208);
  border: none;
  box-shadow: 1px 2px rgb(31, 31, 31);
}
