.announcement-container-in {
  position: relative;
  width: 90%;
  margin: 30px auto;
  user-select: none;
}
.announcement {
  position: relative;
}
.announcement-container-in .announcements .announcement {
  border-radius: 5px;
  position: relative;
  /* background-color: rgb(38, 38, 38); */
  color: rgb(92, 92, 92);
  padding: 10px 30px 30px 10px;
  margin: 10px;
  
  background-color: rgb(30, 30, 30);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.announcement-container-in .announcements .announcement p {
  color: rgb(218, 218, 218);
  font-size: small;
  margin-bottom: 9px;
  overflow: scroll;
  scrollbar-width: none;
}

.announcements .time-container span {
  position: absolute;
  right: 8px;
  bottom: 5px;
  color: rgb(188, 188, 188);
  font-style: italic;
  font-size: xx-small;
  margin: 5px;
}

.announcement-container-in .button-container {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.announcement-container-in .button-container button {
  border-radius: 5px;
  font-weight: bold;
  color: rgb(240, 240, 240);
  padding: 10px;
  background-color: rgb(35, 35, 35);
  border: 1px solid white;
}

.announcement-text-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.announcement-text-container input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 80%;
  margin: 10px 10px;
}
.announcement-text-container button {
  user-select: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: darkolivegreen;
  color: white;
  font-weight: bold;
  transition-duration: 0.2s;
}

.announcement-text-container button:active {
  scale: 0.9;
}

.announcement-container-in .announcement-delete-button {
  position: absolute;
  color: white;
  top: 0px;
  right: 0px;
  background: none;
  padding: 1px 4px;
}
.announcement-container-in .announcement-delete-button:active {
  scale: 0.3;
}
