.error-container {
  position: relative;
  text-align: center;
  color: rgb(152, 58, 82);
  font-size: small;
  font-weight: bold;
  font-style: italic;
}

.card-container {
  margin-top: 30px;
  user-select: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.card-container .card-fields {
  height: fit-content;
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  color: #f0f0f0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* border: 1px solid rgba(255, 255, 255, 0.250); */
  background: #2a2a2a;
}

.card-fields .card-header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.card-container .hide-search-button-container {
  background-color: transparent;
  width: 0px;
  box-shadow: none;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;

  
}

.card-container .search-button-container {
  background-color: transparent;
  width: 0px;
  box-shadow: none;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;

}

.search-button-container:active {
  transform: scale(0.8);
}

#downloadable-select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  margin: 10px auto;
}

@media screen and (max-width: 550px) {
  .card-container .card-fields {
    width: 90%;
  }
}

@media screen and (max-width: 240px) {
  .card-container .card-fields {
    width: 98%;
  }
}
