.error-container {
  display: flex;
  justify-content: center;
  color: rgb(183, 52, 137);
  font-size: medium;
  font-weight: bold;
  font-style: italic;
  position: relative;
  left: 0;
  right: 0;
  top: -5px;
  animation-name: j;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes j {
  from {
    top: -50px;
  }

  to {
    top: -10px;
  }
}

.card-container {
  user-select: none;
  display: flex;
  justify-content: center;
}
.card-container .card-fields {
  overflow-y: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 40px;
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px rgba(190, 190, 190, 0.7);
  background: linear-gradient(rgba(127, 192, 190, 0.577), rgb(142, 98, 212));
}

#download-button button {
  margin-top: 15px;
  border: none;
  padding: 0px;
  height: 50px;
  border-radius: 50%;
}

#download-button img {
  width: 50px;
  background: linear-gradient(rgba(127, 192, 190, 0.577), rgb(142, 98, 212));
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 5px;
  box-shadow: 1px 2px 9px black;
}

.card-container #download-button {
  display: flex;
  justify-content: center;
}

#download-button button:active {
  scale: 0.9;
}

.admin {
  width: 10px;
  height: 10px;
}

#downloadable {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  margin: 5px auto;
  box-shadow: 0px 4px 5px rgb(195, 195, 195);
}

@media screen and (max-width: 550px) {
  .card-container .card-fields {
    width: 90%;
  }
}

@media screen and (max-width: 240px) {
  .card-container .card-fields {
    width: 98%;
  }
}
