.error-container{
  display: flex;
  justify-content: center;
  color: brown;
  font-size: xx-small;
  font-weight: 800;
  margin-bottom: 10px;
}

#card {
  user-select: none;
  display: flex;
  justify-content: center;
  
}
#card #content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 40px;
  margin-top: 50px;
  width: 50%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px rgba(190, 190, 190, 0.7);

}


#card #button {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
#button button {
  padding: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgb(122, 242, 122);
  box-shadow: 0px 4px 5px rgb(195, 195, 195);
  transition-duration: 0.1s;

}
#button button:hover {
  scale: 1.06;
  box-shadow: 0px 3px 2px rgb(195, 195, 195);
}

.admin{
  width: 10px;
  height: 10px;
}

#downloadable{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 5px rgb(195, 195, 195);

}

@media screen  and (max-width: 550px) {

  #card #content{
      width: 90%;
  }
}

@media screen  and (max-width: 240px) {

  #card #content{
      width: 100%;
  }
}