.error-container {
  position: relative;
  text-align: center;
  color: rgb(22, 107, 146);
  font-size: small;
  font-weight: bold;
  font-style: italic;
}

.card-container {
  user-select: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.card-container .card-fields {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 40px;
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  background: linear-gradient(to right,rgba(127, 192, 190, 0.577), rgb(142, 98, 212));
}



.card-container #search-button-container {
  display: flex;
  justify-content: center;
}

#search-button-container button:active {
  scale: 0.9;
}

#search-button-container button {
  margin-top: 15px;
  border: none;
  padding: 0px;
  height: 50px;
  border-radius: 50%;
}

#search-button-container button img {
  width: 50px;
  background: linear-gradient(rgba(127, 192, 190, 0.577), rgb(142, 98, 212));
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 5px;
  box-shadow: 1px 2px 9px black;
}

#downloadable-select {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  margin: 5px auto;
}

@media screen and (max-width: 550px) {
  .card-container .card-fields {
    width: 90%;
  }
}

@media screen and (max-width: 240px) {
  .card-container .card-fields {
    width: 98%;
  }
}
