.select-container {
  color: rgb(187, 187, 187);
  text-align: center;
  position: relative;
  width: 96%;
  max-width: 300px;
  margin: 7px auto;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.500);

}

.select {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.01s;

}

.select:active {
  scale: 0.9;
}

@keyframes scaleinn {
  from {
    transform: scaleY(0);
  }
}

.select-options {
  font-style: italic;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  color: #f0f0f0;
  margin-top: 2px;
  z-index: 10;
  font-weight: bold;
  max-height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  transform-origin: 50% 0%;
  animation: scaleinn 0.1s;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;


}

.option {
  padding: 10px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.266);
}

.option:hover {
  color: #efefef;
  background-color: rgb(17, 17, 17)
}

@media screen and (max-width: 330px) {
  .select-container {
    font-size: x-small;
  }
}
