.select-container {
  color: rgb(187, 187, 187);
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 300px;
  margin: 7px auto;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.164);
  background: #2a2a2a;
  /* box-shadow: inset 3px 3px 6px #141414, inset -6px -6px 12px #373737; */
  box-shadow: 1px 3px 4px rgb(0, 0, 0);
  background: #2a2a2a;
  font-size: small;
}

.select {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.01s;
  display: grid;
  gap: 10px;
  grid-template-columns: 10fr 1fr;
}


.select .placeholder{
  margin-left: 10px;
  justify-self: start;
}


.select .drop-down-icon-container-rotate{
  transform: rotate(180deg);
}



.select:active {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

@keyframes drop-down {
  from {
    transform: scaley(100%);
  }

}

.select-options {
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  /* border-radius: 5px; */
  color: rgba(240, 240, 240, 0.7);
  margin-top: 2px;
  z-index: 10;
  font-weight: bold;
  max-height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transform-origin: 50% 0%;
  animation: drop-down 0.3s;
  box-shadow: 0px 2px 2px 2px #2a2a2a;
  border-top: none;
  background: #2a2a2a;
  border-left: 1px solid rgba(255, 255, 255, 0.241);
  border-right: 1px solid rgba(255, 255, 255, 0.241);
  border-bottom: 1px solid rgba(255, 255, 255, 0.241);

}

.option {
  padding: 10px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-top: 1px solid rgba(255, 255, 255, 0.266);
  animation: flowx 0.5s;
}


@keyframes flowx {


  from{
    opacity: 0;
    transform: translate(0%, -300%);

  }

  /* to{

    opacity: 0.5;
    transform: translateX(0%);
  } */
  
}

.option:hover {
  color: #efefef;
  background-color: rgb(17, 17, 17);
}

@media screen and (max-width: 380px) {
  .select-container {
    font-size: x-small;
  }
}
