.select-container {
  color: #f0f0f0;
  text-align: center;
  position: relative;
  width: 96%;
  max-width: 300px;
  margin: 7px auto;
  border-radius: 10px;
  background-color: rgb(92, 79, 101);
  user-select: none;

}

.select {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.01s;

}

.select:active {
  scale: 0.9;
}

@keyframes scaleinn {
  from {
    transform: scaleY(0);
  }
}

.select-options {
  font-style: italic;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* background: linear-gradient(rgb(46, 127, 149), rgb(103, 44, 171)); */
  background-color: rgb(100, 78, 147);
  border-radius: 10px;
  color: #f0f0f0;
  margin-top: 2px;
  z-index: 10;
  font-weight: bold;
  max-height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  transform-origin: 50% 0%;
  animation: scaleinn 0.1s;

}

.option {
  padding: 10px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.option:hover {
  background-color: rgb(61, 48, 90)
}

@media screen and (max-width: 330px) {
  .select-container {
    font-size: x-small;
  }
}
