.discussion-container {
  user-select: none;
  position: relative;
  transform-origin: 1s;
  transform-origin: 50% 50%;
  animation: scalein 0.4s ease;
}

@keyframes scalein {
  from {
  transform: scale(0);
  }
}


@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.discussion-container .reply-container {
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 9;
  background-color: rgb(60, 60, 60);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  transform-origin: top right ;
  animation: scalein 0.3s ease-in-out;
}

.reply-container .cancel-button-container {
  text-align: end;
  margin: 5px;
}

.cancel-button-container button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.reply-container .reply-input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: rgb(91, 91, 91); */
  padding: 5px;
}

.reply-container .reply-input-container textarea {
  margin: 5px 5px;
  padding: 5px;
  height: max-content;
  border: none;
  border-radius: 4px;
  width: 80%;
}

.reply-input-container button {
  margin: 5px 5px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  background-color: rgb(26, 141, 26);
}

.reply-container .time-stamp {
  color: white;
  font-style: italic;

  margin-top: 10px;
  font-size: xx-small;
  margin-left: 5px;
  background-color: rgb(93, 93, 93);
  width: fit-content;
  padding: 5px;
  border-radius: 7px 7px 0px 0px;
}

.reply-container .reply-body p {
  color: white;
  position: relative;
  margin: 0px 0px;
  padding: 20px;
  font-size: small;
  background-color: rgb(91, 90, 90);
  border-radius: 4px;
  word-wrap: break-word;
}

.discussion-container .query-container {
  width: 90%;
  max-width: 768px;
  margin: 20px auto;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}


.query-container .delete-button-container-hide{
  display: none;
}


.query-container .delete-button-container{
  user-select: none;
  border: none;
  background-color: white;
  padding: 0px;
  height: fit-content;
  background-color: transparent;
}

.query-container .delete-button-container button{
  
  border: none;
  background: transparent;
}

.query-container .query-header {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(177, 189, 249);
  border-radius: 10px 10px 0px 0px;
}

.query-container .query-header .time-stamp {
  font-size: xx-small;
  color: rgb(51, 51, 51);
}

.query-container .query-header .reply-button-container {
  border: none;
}

.query-header .reply-button-container:active {
  scale: 0.8;
}

.reply-button-container img {
  width: 25px;
  border: none;
  background-color: rgb(177, 189, 249);
}

.query-body p {
  font-size: small;
  margin-top: 5px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0);
  word-wrap: break-word;
}

.discussion-container .button-container {
  text-align: center;
}

.button-container button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  color: white;
  font-style: italic;
  border-radius: 4px;
  background-color: rgb(104, 104, 104);
}

.discussion-container .input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.discussion-container .input-container input {
  padding: 5px;
  margin: 5px;
  width: 80%;
  border-radius: 4px;
  border: none;
}

.input-container textarea {
  padding: 5px;
  margin: 10px;
  height: 30px;
  border: none;
  border-radius: 4px;
  width: 80%;
}

.discussion-container .input-container button {
  user-select: none;
  border: none;
  background-color: rgba(0, 128, 0, 0.716);
  padding: 5px;
  border-radius: 4px;
  color: white;
  margin: 10px;
}

.input-container button:active {
  scale: 0.9;
}
