
.header-container {
  user-select: none;
  max-width: 97%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  /* box-shadow: inset 3px 3px 6px #141414,inset -6px -6px 12px #2e2e2e; */

  /* box-shadow: 1px 2px 4px rgb(0, 0, 0); */

}


.header-container a {
  color: rgb(255, 255, 255);

}

.nav-links {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
  margin-left: 1vw;


}


.active {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 5px;
  transition-duration: 1s;
}



.nav-links span :active {
  scale: 0.5;

}

@media (width <= 500px) {
  .nav-links {
    justify-content: flex-start;
  }

  .nav-links span {
    margin-left: 22px;
  }
}
