.header-container {
  user-select: none;
  max-width: 97%;
  margin: 10px auto;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: none;
  border-radius: 5px;
  /* background: linear-gradient(rgb(255, 180, 196), rgb(234, 166, 237)); */
  /* background: linear-gradient(to right, rgb(205, 145, 220), rgb(127, 192, 190)); */
  background:rgb(26, 26, 26);
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255 , 0.500);


}

.nav-links {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
  margin-left: 1vw;
  
}


.nav-links span :active {
  scale: 0.5;
}


@media (width <= 500px) {
  .nav-links {
    justify-content: flex-start;
  }

  .nav-links span {
    margin-left: 22px;
  }
}
