.header-container {
  max-width: 97%;
  margin: 5px auto;
  padding: 5px;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  border: none;
  box-shadow: 0px 2px 1px grey;
  border-radius: 10px;
  background: linear-gradient(rgb(255, 180, 196), rgb(234, 166, 237));
}



.nav-links span {
  position: relative;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
}

.nav-links span img {
  width: 25px;
  overflow: hidden;
  transition-duration: 0.5s;
}

.nav-links span img:active {
scale: 0.5;
}

.active::after {
  content: "";
  position: absolute;
  padding: 1px;
  background-color: rgb(37, 42, 42);
  left: -5px;
  bottom: 0px;
  width: 35px;
  background: linear-gradient(left to right, rgb(255, 0, 0), rgb(0, 0, 254));
}

@media (width <= 700px) {
  .nav-links {
    justify-content: flex-start;
  }

  .nav-links span {
    margin-left: 25px;
  }
}
