.loading-container {
  user-select: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  

}
/* .spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 5%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    border-top: 5px solid rgb(231, 125, 125);
  }
  25% {
    border-right: 5px solid blue;
  }

  75% {
    border-bottom: 5px solid rgb(154, 246, 223);
  }

  100% {
    border-left: 5px solid rgb(130, 175, 216);
    border-left-style: ridge;
    border-radius: 10px;

  }
} */

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 35px;
  height: 80px;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0 0 20px;
  border-radius: 50px 50px 10px 10px;
  padding: 1px;
  background: linear-gradient(#ff4d80 33%, #ffa104 0 66%, #01ddc7 0) content-box;
  --c: radial-gradient(farthest-side, #000 94%, #0000);
  -webkit-mask: linear-gradient(#0000 0 0), var(--c) -10px -10px,
    var(--c) 15px -14px, var(--c) 9px -6px, var(--c) -12px 9px,
    var(--c) 14px 9px, var(--c) 23px 27px, var(--c) -8px 35px, var(--c) 50% 50%,
    linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0), var(--c) -10px -10px, var(--c) 15px -14px,
    var(--c) 9px -6px, var(--c) -12px 9px, var(--c) 14px 9px, var(--c) 23px 27px,
    var(--c) -8px 35px, var(--c) 50% 50%, linear-gradient(#0000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude, add, add, add, add, add, add, add, add;
  -webkit-mask-repeat: no-repeat;
  animation: l3 3s infinite;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 50% calc(50% - 4px) 0;
  background: #e0a267;
  border-radius: 50px;
}
@keyframes l3 {
  0% {
    -webkit-mask-size: auto, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  10% {
    -webkit-mask-size: auto, 25px 25px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  20% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  30% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 0 0, 0 0, 0 0, 0 0,
      0 0;
  }
  40% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 0 0,
      0 0, 0 0, 0 0;
  }
  50% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px,
      25px 25px, 0 0, 0 0, 0 0;
  }
  60% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px,
      25px 25px, 25px 25px, 0 0, 0 0;
  }
  70% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px,
      25px 25px, 25px 25px, 25px 25px, 0 0;
  }
  80%,
  100% {
    -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px,
      25px 25px, 25px 25px, 25px 25px, 200% 200%;
  }
} */



/* HTML: <div class="loader"></div> */


.loader-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.loading-text{
  background: transparent;
  margin-left: 20px;
}


.loader {
  border: 10px solid rgba(0, 0, 0, 0);
  height: 50px;
  aspect-ratio: 2;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side,#ffffff 98%, transparent) left/20px 20px,
    radial-gradient(farthest-side,#ffffff 98%, transparent) left/20px 20px,
    radial-gradient(farthest-side,#ffffff 98%, transparent) center/20px 20px,
    radial-gradient(farthest-side,#ffffff 98%, transparent) right/20px 20px;
  background-repeat: no-repeat;
  background-color: transparent; /* make sure background is transparent */
  filter: blur(0px) contrast(10);
  animation: l14 1.5s infinite;
}

@keyframes l14 {
  100%  {background-position:right,left,center,right}
}