.loading-container {
  user-select: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.777);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.spinner {
  width:150px;
  height: 150px;
  background-color: rgba(0, 255, 255, 0);
  border-radius: 50%;
  border-top: solid rgb(62, 58, 58);
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  25% {
    border-color: brown;
  }

  100% {
    rotate: 360deg;
    border-color: aqua;
  }
}
