.login-container {
  user-select: none;
  overflow: hidden;
  border-radius: 5px;
  width: 95%;
  max-width: 600px;
  user-select: none;
  margin: 50px auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background: rgb(27, 27, 27);
}

.login-fields {
  position: relative;
  width: 100%;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  align-items: center;
}


.login-fields .username-container,
.password-container {
  background-color: rgb(26, 26, 26);
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0px 5px 99px rgba(25, 25, 25, 0.322);
}

.login-fields input {
  color: white;
  width: 100%;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.500);
}

.login-fields .login-button-container button {
  background-color: rgb(26, 26, 26);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgb(109, 143, 109);
  width: 40%;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0px;
}

.login-fields .logout-button-container button {
  background: rgba(181, 45, 45, 0.779);
  font-weight: bold;
  color: white;
  width: 85%;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.399);
}


