.login-container {
  user-select: none;
  overflow: hidden;
  border-radius: 20px;
  width: 95%;
  max-width: 600px;
  user-select: none;
  margin: 50px auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    40deg,
    rgb(158, 104, 158),
    rgba(136, 0, 255, 0.326),
    rgba(169, 121, 169, 0.611)
  );
}

.login-fields {
  position: relative;
  width: 100%;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  align-items: center;
}

.login-fields img {
  width: 25px;
}

.login-fields .username-container,
.password-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 5px 99px rgba(25, 25, 25, 0.322);
}

.login-fields input {
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 9px rgba(25, 25, 25, 0.322);
}

.login-fields .login-button-container button {
  font-weight: bold;
  background-color: rgb(86, 86, 86);
  color: white;
  width: 85%;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 15px 0px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.41);
  background: linear-gradient(rgb(81, 131, 86), rgb(65, 136, 90));
}

.login-fields .logout-button-container button {
  background: rgb(185, 46, 46);
  font-weight: bold;
  color: white;
  width: 85%;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.399);
}

@media (width < 350px) {
  .login-fields img {
    width: 20px;
  }

  .login-fields .username-container,
  .password-container {
    font-size: small;
  }
  .login-fields input {
    padding: 8px;
    width: 60vw;
    font-size: x-small;
  }
}
