.notice-container {
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;

  position: absolute;
  top: -2%;
  transform: rotateX(180deg);
  left: 30%;
  width: 40%;
  background-color: rgb(158, 58, 84);
  animation-name: flipp;
  animation-duration: 0.5s;
  perspective: 1000px;
  transform-origin: 0% 0%;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  animation-timing-function: ease-in;
}

@keyframes flipp {
  from {
    transform: rotateX(120deg);
  }
  95% {
    transform: rotateX(-10deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
