.papers {
  padding: 5px;
  /* font-family: cursive; */
}

#cards .names {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 5px rgb(195, 195, 195);
  font-weight: bold;
  margin: 5px;
  background: linear-gradient(rgb(255, 255, 255), rgb(229, 229, 229));
}

.paperName p {
  width: 500px;
  overflow: hidden;
}

.branch p {
  text-align: center;
  width: 200px;
}

.semester p {
  width: 20px;
  overflow: hidden;
}

.year p {
  width: 50px;
  overflow: hidden;
}

/* .papers .download-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.papers button {
  border: none;
  min-width: 70px;
  max-width: 200px;
}

.papers button img{


} 


.papers #update-button {
  display: none;
  background-color: rgb(84, 55, 50);
  max-width: 200px;
}


@media screen and (max-width: 1024px) {
  .papers {
    margin: 0px 5px;
  }

  #cards .names {
    flex-direction: column;
    margin: 20px auto;
    max-width: 700px;
    box-shadow: 0px 4px 2px rgb(195, 195, 195);
  }

  /* #cards .names p {
  } */

  .paperName {
    width: 90%;
  }

  .paperName p {
    text-align: center;
    color: rgb(131, 98, 208);
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgb(195, 195, 195);
  }

  .branch {
    width: 80%;
  }

  .branch p {
    text-align: center;
    color: rgb(110, 181, 194);
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgb(195, 195, 195);
  }

  .semester {
    width: 70%;
  }

  .semester p {
    color: brown;
    width: fit-content;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgb(195, 195, 195);
    margin: 10px 0px;
  }

  .year {
    width: 70%;
  }

  .year p {
    color: rgb(141, 46, 188);
    width: fit-content;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgb(195, 195, 195);
    margin: 10px 0px;
  }

  .download-button-container {
    margin-top: 10px;
    width: 100%;
  }

  /* .papers button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  } */

  .papers #update-button {
    display: none;
    justify-content: center;
    width: 100%;
    color: white;
  }
}

@media screen and (width <= 300px) {
  .papers {
    margin: 0px 5px;
  }

  #cards .names div p {
    font-size: x-small;
  }
}
