@keyframes showw {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scroll {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.papers-container {
  position: relative;
  padding-bottom: 50px;
  user-select: none;
  max-width: 600px;
  margin: 0px auto;
}

.search-container {
  text-align: center;
  padding: 5px;
  margin: 5px 0;
}

.search-container input {
  padding: 10px;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  color: white;
}
.report {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8rem;
  color: rgba(255, 0, 0, 0.85);
  cursor: pointer;
}

.report:active{
  scale: 0.7;
}

.description-container {
  background: white;
  position: absolute;
  right: 100%;
  width: 80vw;
  max-width: 600px;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transform-origin: top right;
  animation: showw 0.25s ease-out;
  will-change: transform, opacity;
}

.description-container > p {
  border-bottom: 1px solid grey;
}
.paper-details {
  padding: 15px 20px;
  position: relative;
  width: 95%;
  margin: 25px auto;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.paperName,
.branch,
.semester,
.year,
.name {
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 5px auto;
  background-color: rgb(26, 26, 26);
  border-radius: 4px;
  overflow-x:scroll ;
  scrollbar-width: none;

}

.paperName p {
  color: rgb(120, 58, 58);
}

.branch p {
  color: cadetblue;
}

.semester p {
  color: blueviolet;
}

.year p {
  color: cornflowerblue;
}

.name p {
  color: rgb(111, 120, 137);
}

.papers-container .button-container {
  display: flex;
  flex-direction: column;
}

.papers-container .button-container > div {
  text-align: center;
  width: 100px;
  background: rgb(32, 32, 32);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 10px;
}

.papers-container .button-container > div:active {
  transform: scale(0.95);
}

.button-container svg {
  font-size: 1.2rem;
  color: green;
}

.description-container h3 {
  text-align: center;
  padding: 10px;
  color: brown;
}

.desc,
.desc-active {
  padding: 15px;
  cursor: pointer;
  color: black;
}

.desc-active {
  background-color: rgb(54, 170, 220);
  color: white;
}

.description-container button {
  margin: 10px auto;
  padding: 6px 14px;
  border: none;
  font-weight: 700;
  background: green;
  color: white;
  cursor: pointer;
}

.description-container button:active {
  transform: scale(0.95);
}

/* 
@media screen and (width >= 1200px) {
  .paper-details {
    grid-template-columns: 1fr;
    max-width: 700px;
    animation: scroll 0.4s ease-out;
    background-color: none;
  }

  .button-container {
    flex-direction: column;
    gap: 15px;
  }
  .paperName,
  .branch,
  .semester,
  .year,
  .name {
    width: 100%;
    border-right: 1px grey;
    background: none;
  }
} */

@media screen and (width <= 500px) {
  .paper-details p {
    font-size: 0.85rem;
  }
}

@media screen and (width <= 300px) {
  .paper-details p {
    font-size: 0.7rem;
  }
}
