.discussion-container {
  color: white;
  user-select: none;
  position: relative;
  transform-origin: 50% 50%;
  text-align: justify;
}

@keyframes slidein {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.discussion-container .reply-container {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px 10px 30px 10px;
  overflow-y: scroll;
  transform-origin: top;
  animation: slidein 0.5s ease-in-out;
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.reply-container .cancel-button-container {
  text-align: end;
}

.cancel-button-container button {
  background: none;
  padding: 2px 6px;
  transition-duration: 0.1s;
}

.cancel-button-container button:active {
  transform: scale(0.8);
  box-shadow: 0px 0px 10px 3px red;
}

.reply-container .reply-input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.reply-container .reply-input-container textarea {
  margin: 20px 5px;
  padding: 10px 5px;
  height: max-content;
  border-radius: 4px;
  width: 80%;
  border: 1px solid white;
  background: none;
  color: white;
}

.reply-input-container button {
  margin: 5px 5px;
  border: none;
  padding: 5px 7px;
  border-radius: 2px;
  color: white;
  background-color: rgba(26, 26, 26, 0.805);
  box-shadow: 2px 2px 6px grey;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.reply-container .time-stamp {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  margin-top: 10px;
  font-size: xx-small;
  margin-left: 5px;
  width: fit-content;
  padding: 5px;
  border-radius: 7px 7px 0px 0px;
}

.reply-container .reply-body p {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgb(255, 255, 255);
  position: relative;
  margin: 0px 0px;
  padding: 20px;
  font-size: small;
  /* background-color: rgb(89, 96, 100); */
  border-radius: 5px;
  word-wrap: break-word;
  font-weight: bold;
}

.discussion-container .query-container {
  width: 90%;
  max-width: 768px;
  margin: 20px auto;
  position: relative;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
}

.query-container .delete-button-container-hide {
  display: none;
}

/* .query-container .delete-button-container {
  user-select: none;
  border: none;
  background-color: white;
  padding: 0px;
  height: fit-content;
  background-color: transparent;
} */

.query-container .delete-button-container button {
  border: none;
  /* padding: 0px 5px; */
  scale: 1.4;
  background: none;
}

.query-container .query-header {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 67, 67);
  border-radius: 10px 10px 0px 0px;
}

.query-container .query-header .time-stamp {
  font-size: xx-small;
  color: rgba(255, 255, 255, 0.9);
}

.query-container .query-header .reply-button-container {
  border: none;
}

.query-header .reply-button-container:active {
  scale: 0.8;
}

.query-header .query-header-side-menu {
  display: flex;
}

.query-header .query-header-side-menu button {
  margin: 0px 20px;
}

.query-body p {
  font-size: small;
  margin-top: 5px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0);
  word-wrap: break-word;
}

.discussion-container .button-container {
  text-align: center;
}

.button-container button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  color: white;
  font-style: italic;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-container button:active {
  transform: scale(0.9);
  background-color: rgb(78, 78, 78);
}

.discussion-container .input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.discussion-container .input-container input {
  padding: 5px;
  margin: 5px;
  width: 80%;
  border-radius: 4px;
}

.input-container textarea {
  color: white;
  padding: 5px;
  margin: 10px;
  /* height: 30px; */
  border: none;
  border-radius: 5px;
  width: 80%;
  background: rgb(26, 26, 26);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.discussion-container .input-container button {
  user-select: none;
  background-color: rgba(26, 26, 26);
  padding: 5px;
  border-radius: 4px;
  color: rgb(63, 202, 63);
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.input-container button:active {
  scale: 0.9;
}
