.short-container {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.short-container .video-container {
  position: relative;
  background-color: rgb(62, 62, 62);
  margin: 0px auto;
  height: 90vh;
  max-width: 95%;
  scroll-snap-align: start;
  position: relative;
  border-radius: 15px;
  margin: 10px;
}

.short-container .video-container .short-button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  z-index: 10;
}

.short-button-container svg {
  background-color: transparent;
  color: red;
  margin: 10px;
}

.short-button-container:active {
  transform: scale(0.8);
}

.short-container .upload-video-container {
  position: fixed;
  bottom: 7%;
  right: 4%;
  z-index: 10;
  color: rgba(255, 255, 255, 0.653);
}

.upload-video-container .upload-video-plus-button-container {
  padding: 0px;
  margin-right: 10px;
  color: rgb(79, 192, 104);
  transform: scale(1);
}

.upload-video-plus-button-container:active {
  transform: scale(0.8);
  color: red;
}

@keyframes showww {
  0% {
    transform: translate(-50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%) scale(1);
    opacity: 1;
  }
}

.upload-video-fields-container {
  padding: 20px 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  animation: showww 0.5s;
  transform-origin: 50% 50%;
  width: 80%;
  max-width: 500px;
}

.upload-video-fields-container input {
  text-align: center;
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0.625);
  padding: 8px 10px;
  border: 1px solid rgba(255, 255, 255, 0.453);
  border-radius: 3px;
  font-weight: bold;
  color: rgb(144, 44, 44);
}

.upload-video-fields-container #upload-button {
  font-size: larger;
  color: rgb(54, 188, 54);
}

#upload-button:active {
  transform: scale(0.8);
  color: red;
}

.short-container .video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.short-container .video-container video:fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: black;
}

/* #file-input {


} */
