.short-container .video-container {
  position: relative;
  background-color: rgb(62, 62, 62);
  margin: 0px auto;
  height: 100vh;
  max-width: 500px;
  scroll-snap-align: start;
  position: relative;
  border-radius: 15px;
}

.short-container .video-container .delete-button-container {
  position: absolute;
  right: 0px;
  z-index: 10;
}

.delete-button-container svg {
  background-color: transparent;
  color: red;
  margin: 10px;
}

.delete-button-container:active {
  transform: scale(0.8);
}
