.upload-container {
  overflow: hidden;
  user-select: none;
  margin: 50px auto;
  padding: 20px 20px;
  width: 90%;
  max-width: 700px;
  background: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transform-origin: 50% 50%;
  animation: opacityin 0.5s ease-in-out;
}

@keyframes opacityin {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
}

.upload-container input {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 60vw;
  max-width: 290px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
}

.upload-container input[type="file"] {
  display: none;
}

.file-container label {
  padding: 5px;
  display: block;
  box-sizing: border-box;
  width: 60vw;
  max-width: 290px;
  margin-top: 10px;
  background-color: rgba(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.file-container label img {
  width: 25px;
  margin: 2px 5px;
}

.file-container span {
  overflow: hidden;
  font-size: xx-small;
}

.time-stamp {
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  width: 60vw;
  max-width: 290px;
  font-size: xx-small;
  text-align: center;
}

.upload-container button {
  width: 100%;
  max-width: 200px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  color: rgb(105, 186, 105);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

button:active {
  scale: 0.95;
  background-color: #171717;
}

#delete-button {
  background-color: rgba(255, 0, 0, 0.563);
}

@media screen and (max-width: 450px) {
  .upload-container {
    border-radius: 10px;
  }

  .upload-container input {
    padding: 8px;
    font-size: small;
  }
}
