.upload-container {
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: 50% 50%;
  animation: opacityin 0.5s ease-in-out;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow-y: scroll;
  min-height: 85vh;
  width: 100vw;
  margin-bottom: 20px;
  /* background-color: rgb(41, 86, 91); */
}

.upload-container .upload-container-fields {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  /* border: 1px solid grey; */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
}

.upload-container .upload-container-header {
  width: 100%;
  /* font-weight: 600; */
  margin-bottom: 1.5rem;
  /* letter-spacing: 0px; */
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 13px;
}

@keyframes opacityin {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
}

.upload-container input {
  color: rgb(255, 255, 255);
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 60vw;
  max-width: 290px;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  background: none;

  background: #2a2a2a;
  box-shadow: inset 3px 3px 6px #141414, inset -6px -6px 12px #373737;
  outline: none;
}

.upload-container input[type="file"] {
  display: none;
}

.file-container label {
  padding: 5px;
  display: block;
  box-sizing: border-box;
  width: 60vw;
  max-width: 290px;
  margin-top: 10px;
  background-color: rgba(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  background: #2a2a2a;
  box-shadow: inset 3px 3px 6px #141414, inset -6px -6px 12px #373737;
}

.file-container label img {
  width: 25px;
  margin: 2px 5px;
}

.file-container span {
  overflow: hidden;
  font-size: xx-small;
}

.time-stamp {
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  width: 60vw;
  max-width: 290px;
  font-size: xx-small;
  text-align: center;
}

.upload-container button {
  width: 100%;
  max-width: 200px;
  font-weight: bold;
  padding: 10px;
  margin: 30px 0px 15px 0px;
  border: none;
  color: white;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  color: rgb(105, 186, 105);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

button:active {
  scale: 0.95;
  background-color: #171717;
}

.delete-button-container {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin: 10px 0px 15px 0px;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .upload-container {
    border-radius: 10px;
  }

  .upload-container input {
    padding: 15px;
    font-size: small;
  }
}
