.user-container {
  color: white;
  padding: 10px 10px;
  text-overflow: clip;
}

.user-container h3 {
  text-align: center;
}

.data-container {
  text-overflow: clip;
  margin: 5px;
}

.data-container .column-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
}

.data-container .info-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  border: 1px solid grey;
  margin: 10px 0px;
}

.data-container p {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px;
  background-color: rgb(27, 70, 55);
  overflow-x: auto;
  scrollbar-width: none;
}

.data-container p:nth-child(3) {
  text-align: center;
}

.data-container p:nth-last-child(1) {
  text-align: center;
}

.flag-activity-container h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  margin: 10px 0px;
}

.flag-activity-container h3:active {
  transform: translateY(4px);
}

.flag-activity-container .flag {
  background-color: rgb(72, 57, 125);
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.flag-activity-container .flag p {
  padding: 5px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.flag-activity-container .control-button {
  /* background-color: rgba(255, 0, 0, 0.521); */
  text-align: center;
  color: red;
}

@media screen and (width <= 380px) {
  .user-container {
    font-size: x-small;
  }
}
