body {
  position: relative;
  background-color: 	#121212;
  background :  #232323;
  user-select: none;
  /* font-family: 'Courier New', Courier, monospace; */
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

@media screen and (width <= 380px) {
  *{
    font-size: x-small;
  }
}

